<!DOCTYPE html>
<html>
<head>
	<title><%=pageTitle%></title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<header class="main-header">
		<nav class="main-header__nav">
			<ul class="main-header__item-list">
				<li class="main-header__item" ><a href="/" class="<%= path==='/' ? 'active':'' %>">Home</a></li>
				<li class="main-header__item"><a href="/admin/add-user" class="<%= path==='/admin/add-User' ? 'active':'' %>">Add-Users</a></li>
			</ul>
		</nav>
	</header>

    <main>
        <% if (user.length >0) {%>
            <% for (let userName of user) {%>
                <div class="grid">
                    <div class="card">
                        <img src="https://thegraphicsfairy.com/wp-content/uploads/2013/03/book-Image-royalty-free-GraphicsFairy1.jpg" alt="" width="50%"/>
                        <div class="title"> 
                            <h1><%=userName.username%></h1>
                        </div>
                    </div> 
                </div>
            <% } %>
        <%} else {%>
            <h1>No Products found</h1>
        <% } %>
    </main>
</body>
</html>